.btn {
    padding: 1em 1.5em;
    color: $txt-fond-sombre;
    transition: 250ms;
    @extend %border-shadow;

    &--gradient {
        background-image:
            radial-gradient(100% 50% at 20% 10%,
                #FF79DA 0%,
                #9356DC 200%);
    }

    &--radius {
        border-radius: 2em;
    }

    &:hover {
        opacity: 0.8;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
}

.list-item {
    padding: 0px 15px 15px 15px;
    text-align: left;
    border-radius: 1em;
    box-shadow: 0 4px 11px rgba(0, 0, 0, 0.2);
    background: $background-gris-clair;
}

.btn__like,
button {
    & .heart-away {
        display: block;
        transform: scale(1);
        transition: all 0.5s;
    }

    & .heart-hover {
        display: block;
        position: absolute;
        top: 0;
        transform: scale(0);
        transition: all 200ms ease-in-out;
        background-color: $txt-fond-clair;
        background-image: linear-gradient(0deg, $color-secondary, $color-primary);
        /* cette propriété est une propriétée d'arrière-plan css qui permet 
        de gérer les limites de la zone d'arrière-plan à l'interieur de l'élément.
        ça va influencer l'affichage de l'image d'arrière plan ou de la couleur d'attère plan,
        déclarée avec la propriétée background-image, background-couleur ou background. 
        aussi background-clip vous permet de contrôler jusqu'où une image ou une couleur d'arrière-plan 
        s'étend au-delà du rembourrage ou du contenu d'un élément.*/
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        /* cette propriété spécifie la couleur de remplissage des caractère du texte.
       Les propriétés text-fill-color et color sont les mêmes,
       mais text-fill-color a priorité sur la couleur si les deux ont des valeurs différentes*/
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
    }
}

.btn__like:hover,
button:hover {
    & .heart-away {
        opacity: 0;
        transform: scale(0);
    }

    & .heart-hover {
        opacity: 1;
        transform: scale(1);
    }
}