@mixin grid-template-set1($nb) {
    grid-template-columns: repeat($nb, 1fr);
}

//Grid position setting
@mixin grid-pos-set ($row-start, $row-end, $col-start, $col-end) {
    grid-row: $row-start unquote("/") $row-end;
    grid-column: $col-start unquote("/") $col-end;
}

@mixin img-cover-pages ($width: 100%, $height: 35.5em, $object-fit: cover) {
    width: $width;
    height: $height;
    object-fit: $object-fit;
}