%grid-center {
    display: grid;
    align-items: center;
    justify-items: center;
}

%border-shadow {
    box-shadow: 0 4px 11px rgba(0, 0, 0, 0.2);
}

%transform-scale {
    transform: scale(1.2);
}

%border-radius-menuRestoCarte {
    border-radius: 22px 22px 0 0;
}

%position-menuRestoCarte {
    position: relative;
}