//Colors
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$clear-grey: #7d7d7d;
$black: #000000;
$white: #ffffff;
$bg-clear-grey: #f6f6f6;
$bg-footer: #353535;
$radial-gradient: radial-gradient(100% 50% at 20% 10%,
    #FF79DA 0%,
    #9356DC 200%);

//Breakpoints
$tablette: 768px;
$desktop: 1270px;