//Couleurs principales
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

//Couleur secondaires
$gris-sombre: #353535;
$gris-clair: #7d7d7d;
$background-gris-clair: #f6f6f6;

//Textes
$txt-fond-clair: #000000;
$txt-fond-sombre: #ffffff;


$tablette: 960px;
$desktop: 1270px;