@import '_variables';
@import '_mixins';
@import '_placeholders';
@import '_components';
@import 'layout/header';
@import 'layout/footer';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Shrikhand&display=swap');

main {
    font-family: 'Roboto', sans-serif;

    & .localisation {
        @extend %grid-center;
        @include grid-template-set1(1);
        padding: 1em;
        background: #eaeaea;
        background: linear-gradient(180deg,
                rgba(173, 173, 173, .35) 0%,
                rgba(234, 234, 234, .75) 15%,
                rgba(234, 234, 234, 1) 100%);

        & a {
            color: $gris-sombre;
        }

        & i {
            padding: 0 0.5em 0 0;
        }
    }

    & .presentation {
        @extend %grid-center;
        @include grid-template-set1(1);
        padding: 2em 0 3em;
        background: $background-gris-clair;
        text-align: center;

        & h2 {
            padding: 0 5em;
        }

        & p {
            padding: 1em 5em 2em;
            color: $gris-clair;
        }
    }

    & .commentCaMarche {
        @include grid-template-set1(1);
        @extend %grid-center;
        padding: 3em 1em;

        & h2 {
            @include grid-pos-set(1, auto, 1, 2);
            justify-self: start;
        }

        & ol {
            @include grid-pos-set(2, auto, 1, 4);
            display: grid;
            @include grid-template-set1(1);
            gap: 2em;
            margin: 1em 1em 0;
            justify-self: normal;
            counter-reset: section;
        }

        & li::before {
            counter-increment: section;
            content: counter(section);
            position: relative;
            left: -1.9em;
            padding: 0.3em 0.6em;
            border-radius: 70%;
            background-color: $color-primary;
            color: $txt-fond-sombre;
            top: 35px;
        }

        & li {
            display: block;

            & p {
                margin: 0;

                & .fas {
                    margin: 15px;
                    color: $gris-clair;

                }
            }
        }

    }

    /* Debut section lesRestaurants */
    & .lesRestaurants {
        @extend %grid-center;
        @include grid-template-set1(1);
        padding: 3em 1em;
        background: $background-gris-clair;

        & h2 {
            @include grid-pos-set (1, auto, 1, 2);
            justify-self: start;
        }

        & ul {
            @include grid-pos-set (2, auto, 1, 5);
            display: grid;
            @include grid-template-set1 (1);
            grid-gap: 2em;
            justify-self: normal;
            margin: 1em 0;

            & li {
                display: inline-block;
                width: 100%;

                & a {
                    display: block;
                    position: relative;
                    padding: 0 0 0.7rem 0;
                    color: $txt-fond-clair;
                    border-radius: 1.5em;
                    @extend %border-shadow;

                    & .sticker {
                        position: absolute;
                        right: 1em;
                        top: 1em;
                        padding: 0.4em 0.6em;
                        color: darken($color: $color-tertiary, $amount: 50%);
                        background: $color-tertiary;
                        border-radius: 0.2em;
                    }

                    & img {
                        padding: 0 0 0.5rem 0;
                        width: 100%;
                        max-height: 60%;
                        object-fit: cover;
                        border-radius: 1.5em 1.5em 0 0;
                    }

                    & h3,
                    p {
                        padding: 0 1rem 0.5rem;
                    }

                    & .btn__like {
                        position: absolute;
                        bottom: 2.5rem;
                        right: 1.5rem;
                        font-size: 1.5em;
                        cursor: pointer;
                    }
                }
            }

        }
    }

    & .menuDuResto__cover {
        height: 35.5em;
        width: 100%;
        object-fit: cover;
    }

    & .menuDuResto {
        grid-template-columns: repeat(1, 1fr);

        & .menuDuResto__carte {
            border-radius: 22px 22px 0 0;
            background-color: $background-gris-clair;
            position: relative;
            z-index: 1;
            margin-top: -4rem;

            & h2 {
                font-family: 'Shrikhand', cursive;
                font-size: 28px;
                padding-left: 15px;
                padding-top: 22px;
                margin: 0;

                & button {
                    position: absolute;
                    right: 1.5rem;
                    font-size: 2rem;
                    cursor: pointer;
                    border: transparent;
                    background: transparent;
                }
            }

            & .list-menu {
                display: grid;
                list-style: none;
                @include grid-pos-set (2, auto, 1, 5);
                display: grid;
                @include grid-template-set1 (1);
                grid-gap: 2em;
                justify-self: normal;
                padding: 0;
                margin: 1em 1em 0;

                & h3 {
                    font-weight: lighter;
                    margin: 0;
                }

                & .list-item {
                    display: flex;
                    max-width: 100%;
                    background: $txt-fond-sombre;
                    padding: 0;

                    @for $i from 1 to 10 {
                        &--#{$i} {
                            display: flex;
                            align-items: center;
                            overflow: hidden;

                            & .item-inner {
                                padding: 12px;

                                & h4 {
                                    margin: 0;
                                    border: 2px solid red;
                                }

                                & p {
                                    margin: 0;
                                    font-weight: lighter;
                                    border: 2px solid red;
                                    right: 1.5rem;
                                }
                            }
                        }

                        & strong {
                            justify-content: end;
                            margin-left: auto;
                            margin-top: 21px;
                            padding: 12px;
                        }

                        & span .fas.fa-check-circle {
                            display: inline-block;
                            background: #99E2D0;
                            margin-right: -5rem;
                            text-align: center;
                            padding: 27px;
                        }
                    }
                }
            }
        }
    }
}