@import '_variables';
@import '_mixins';
@import '_placeholders';
@import '_components';
@import 'layout/header';
@import 'layout/footer';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Shrikhand&display=swap');

main {
    font-family: 'Roboto', sans-serif;

    & .localisation {
        @extend %grid-center;
        @include grid-template-set1(1);
        padding: 1em;
        background: #eaeaea;
        background: linear-gradient(180deg,
                rgba(173, 173, 173, .35) 0%,
                rgba(234, 234, 234, .75) 15%,
                rgba(234, 234, 234, 1) 100%);

        & a {
            color: $gris-sombre;
        }

        & i {
            padding: 0 0.5em 0 0;
        }
    }

    & .presentation {
        @extend %grid-center;
        @include grid-template-set1(1);
        padding: 2em 0 3em;
        background: $background-gris-clair;
        text-align: center;

        & h2 {
            padding: 0 5em;
        }

        & p {
            padding: 1em 5em 2em;
            color: $gris-clair;
        }
    }

    & .commentCaMarche {
        @include grid-template-set1(1);
        @extend %grid-center;
        padding: 3em 1em;

        & h2 {
            @include grid-pos-set(1, auto, 1, 2);
            justify-self: start;
        }

        & ol {
            @include grid-pos-set(2, auto, 1, 4);
            display: grid;
            @include grid-template-set1(1);
            gap: 2em;
            margin: 1em 1em 0;
            justify-self: normal;
            counter-reset: section;
        }

        & li::before {
            counter-increment: section;
            content: counter(section);
            position: relative;
            left: -1.9em;
            padding: 0.3em 0.6em;
            border-radius: 70%;
            background-color: $color-primary;
            color: $txt-fond-sombre;
            top: 35px;
        }

        & .list-item {
            display: block;
            padding: 0px 15px 15px 15px;
            cursor: pointer;

            &:hover {
                background-color: lighten(hsl(267, 66%, 60%), 35%);

                & .fas {
                    color: $color-primary;
                }
            }

            & p {
                margin: 0;

                & .fas {
                    margin: 15px;
                    color: $gris-clair;
                }
            }
        }
    }

    /* Debut section lesRestaurants */
    & .lesRestaurants {
        @extend %grid-center;
        @include grid-template-set1(1);
        padding: 3em 1em;
        background: $background-gris-clair;

        & h2 {
            @include grid-pos-set (1, auto, 1, 2);
            justify-self: start;
        }

        & ul {
            @include grid-pos-set (2, auto, 1, 5);
            display: grid;
            @include grid-template-set1 (1);
            grid-gap: 2em;
            justify-self: normal;
            margin: 1em 0;

            @media (min-width: $desktop) {
                @include grid-template-set1(4);
            }

            @media (min-width: $tablette) {
                @include grid-template-set1(2);
            }

            & li {
                display: inline-block;
                width: 100%;

                & a {
                    display: block;
                    position: relative;
                    padding: 0 0 0.7rem 0;
                    color: $txt-fond-clair;
                    border-radius: 1.5em;
                    @extend %border-shadow;

                    & .sticker {
                        position: absolute;
                        right: 1em;
                        top: 1em;
                        padding: 0.4em 0.6em;
                        color: darken($color: $color-tertiary, $amount: 50%);
                        background: $color-tertiary;
                        border-radius: 0.2em;
                    }

                    & img {
                        padding: 0 0 0.5rem 0;
                        width: 100%;
                        height: 16rem;
                        object-fit: cover;
                        border-radius: 1.5em 1.5em 0 0;
                    }

                    & h3,
                    p {
                        padding: 0 1rem 0.5rem;
                    }

                    & .btn__like {
                        position: absolute;
                        bottom: 2.5rem;
                        right: 1.5rem;
                        font-size: 1.5em;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    & .menuDuResto__cover {
        @include img-cover-pages(100%, 35.5em, cover);
    }

    & .menuDuResto {
        @include grid-template-set1(1);

        & .menuDuResto__carte {
            @include MenuResto-carte($background-gris-clair, 1, -4rem);
            @extend %border-radius-menuRestoCarte;
            @extend %position-menuRestoCarte;

            & h2 {
                font-family: 'Shrikhand', cursive;
                font-size: 28px;
                padding: 22px 0 0 15px;
                margin: 0;

                & button {
                    position: absolute;
                    right: 1.5rem;
                    font-size: 2rem;
                    cursor: pointer;
                    border: transparent;
                    background: transparent;
                }
            }

            & .list-menu {
                display: grid;
                list-style: none;
                @include grid-pos-set (2, auto, 1, 5);
                @include grid-template-set1 (1);
                grid-gap: 1em;
                justify-self: normal;
                padding: 0;
                margin: 1em 1em 0;

                & .titreMenu {
                    justify-self: start;
                    text-transform: uppercase;
                    font-weight: normal;

                    &::after {
                        border-bottom: 3px #99E2D0 solid;
                        content: '';
                        display: block;
                        width: 3rem;
                    }
                }

                & .list-item {
                    position: relative;
                    padding: 1em;
                    cursor: pointer;
                    overflow: hidden;
                    font-size: 1.05em;

                    & h4 {
                        margin: 0 0 0.5rem 0;
                        font-size: 1.1em;
                    }

                    & p {
                        font-size: 1em;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        width: 85%;
                        overflow: hidden;
                        transition: all 0.5s;
                    }

                    & strong {
                        position: absolute;
                        right: 2rem;
                        bottom: 1rem;
                        transition: all 0.5s;
                        font-weight: 600;
                    }

                    & span {
                        position: absolute;
                        top: 0;
                        right: -5rem;
                        width: 5rem;
                        height: 100%;
                        font-size: 1.5em;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: $txt-fond-sombre;
                        background: $color-tertiary;
                        transition: all 0.5s;
                    }

                    & .fa-check-circle {
                        transform: rotate(-240deg);
                        transition: all 0.5s;
                    }
                }

                & .list-item {
                    animation: smoothAnim 1000ms forwards;
                    opacity: 0;

                    @for $i from 1 to 10 {
                        &--#{$i} {
                            animation-delay: 100ms * $i;
                        }
                    }

                    @keyframes smoothAnim {
                        0% {
                            transform: translateY(2em);

                        }

                        100% {
                            transform: translateY(0);
                            opacity: 1;
                        }
                    }
                }

                & .list-item:hover {
                    & p {
                        width: 67%;
                    }

                    & strong {
                        right: 6.5rem;
                    }

                    & span {
                        right: 0;

                        & i {
                            transform: rotate(0deg);
                        }
                    }
                }

            }
        }
    }

    & .commander {
        @extend %grid-center;
        background: #f6f6f6;
        padding: 2em 0 3em;

        & a {
            text-decoration: none;
        }
    }
}