footer {
    width: 100%;
    height: 150px;
    background-color: $bg-footer;

    @media (min-width: $desktop) {
        height: 11.25rem;
    }

    @media (min-width: $tablette) {
        height: 11rem;
    }

    & h2 {
        font-family: 'Shrikhand', cursive;
        font-size: 20px;
        color: $white;
        margin: 0px;
        padding: 25px 0 7px 25px;
    }

    & ul {
        list-style: none;
        background-color: $bg-footer;
        padding: 20px 0px 28px 24px;

        & li {
            padding-bottom: 7px;

            & a {
                font-size: 17px;
                text-decoration: none;
                color: $white;

                & i {
                    padding-right: 12px;
                }
            }
        }
    }
}