@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Shrikhand&display=swap");
main .localisation, main .presentation, main .commentCaMarche, main .lesRestaurants, main .commander {
  display: grid;
  align-items: center;
  justify-items: center; }

.btn, header, main .lesRestaurants ul li a {
  box-shadow: 0 4px 11px rgba(0, 0, 0, 0.2); }

main .menuDuResto .menuDuResto__carte {
  border-radius: 22px 22px 0 0; }

main .menuDuResto .menuDuResto__carte {
  position: relative; }

.btn {
  padding: 1em 1.5em;
  color: #ffffff;
  transition: 250ms; }
  .btn--gradient {
    background-image: radial-gradient(100% 50% at 20% 10%, #FF79DA 0%, #9356DC 200%); }
  .btn--radius {
    border-radius: 2em; }
  .btn:hover {
    opacity: 0.8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

.list-item {
  text-align: left;
  border-radius: 1em;
  box-shadow: 0 4px 11px rgba(0, 0, 0, 0.2);
  background: #f6f6f6;
  padding: 0 15px 15px 15px; }

.btn__like .heart-away,
button .heart-away {
  display: block;
  transform: scale(1);
  transition: all 0.5s; }
.btn__like .heart-hover,
button .heart-hover {
  display: block;
  position: absolute;
  top: 0;
  transform: scale(0);
  transition: all 400ms ease-in-out;
  background-color: #000000;
  background-image: linear-gradient(0deg, #FF79DA, #9356DC);
  /* cette propriété est une propriétée d'arrière-plan css qui permet 
  de gérer les limites de la zone d'arrière-plan à l'interieur de l'élément.
  ça va influencer l'affichage de l'image d'arrière plan ou de la couleur d'attère plan,
  déclarée avec la propriétée background-image, background-couleur ou background. 
  aussi background-clip vous permet de contrôler jusqu'où une image ou une couleur d'arrière-plan 
  s'étend au-delà du rembourrage ou du contenu d'un élément.*/
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
 /* cette propriété spécifie la couleur de remplissage des caractère du texte.
Les propriétés text-fill-color et color sont les mêmes,
mais text-fill-color a priorité sur la couleur si les deux ont des valeurs différentes*/
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent; }

.btn__like:hover .heart-away,
button:hover .heart-away {
  opacity: 0;
  transform: scale(0); }
.btn__like:hover .heart-hover,
button:hover .heart-hover {
  opacity: 1;
  transform: scale(1); }

.loader-container {
  display: flex;
  position: fixed;
  z-index: 1;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: white;
  animation: 0.5s fadeOut 5500ms ease forwards; }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    visibility: hidden; } }
.planet {
  display: block;
  width: 125px;
  height: 125px;
  position: relative;
  transform-style: preserve-3d;
  border-radius: 50%;
  background: #9356DC;
  background: #FF79DA;
  background: radial-gradient(100% 50% at 20% 10%, #FF79DA 0%, #9356DC 200%);
  box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.25), inset 8px -4px 6px #9356dc, inset -8px 4px 8px #ff79da, inset 20px -5px 12px #FF79DA, 0 0 100px #7d7d7d;
  transform: rotateZ(-15deg); }

.planet::before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 16px solid #99E2D0;
  border-top-width: 0;
  border-radius: 50%;
  box-shadow: 0 -2px 0 #7d7d7d;
  animation: rings1 0.8s infinite linear; }

.planet::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 8px solid #7d7d7d;
  border-top-width: 0;
  border-radius: 50%;
  box-shadow: 0 -2px 0 #99E2D0;
  animation: rings2 0.8s infinite linear; }

@keyframes rings1 {
  0% {
    transform: rotateX(65deg) rotateZ(0deg) scale(1.75); }
  100% {
    transform: rotateX(65deg) rotateZ(360deg) scale(1.75); } }
@keyframes rings2 {
  0% {
    transform: rotateX(65deg) rotateZ(0deg) scale(1.7); }
  100% {
    transform: rotateX(65deg) rotateZ(360deg) scale(1.7); } }
header {
  font-family: 'Shrikhand', cursive;
  text-align: center;
  padding: 10px 0 10px 0;
  position: relative;
  position: relative; }
  header .menuDuResto__cover {
    height: 35.5em;
    width: 100%;
    object-fit: cover; }
  header a {
    text-decoration: none;
    margin: 0; }
    header a h1 {
      margin: 0;
      color: #000000; }
      header a h1 span {
        padding: 0 0.5em 0 0; }

footer {
  display: grid;
  width: 100%;
  height: 150px;
  background-color: #353535; }
  footer h2 {
    font-family: 'Shrikhand', cursive;
    font-size: 20px;
    color: #fff;
    margin: 0px;
    padding: 25px 0 7px 25px; }
  footer ul {
    list-style: none;
    background-color: #353535;
    margin: 0;
    padding-left: 16px;
    padding-bottom: 20px; }
    footer ul li {
      padding: 0;
      margin: 0; }
      footer ul li a {
        text-decoration: none;
        color: #fff;
        padding-left: 13px; }
        footer ul li a i {
          padding-right: 12px; }

main {
  font-family: 'Roboto', sans-serif;
  /* Debut section lesRestaurants */ }
  main .localisation {
    grid-template-columns: repeat(1, 1fr);
    padding: 1em;
    background: #eaeaea;
    background: linear-gradient(180deg, rgba(173, 173, 173, 0.35) 0%, rgba(234, 234, 234, 0.75) 15%, #eaeaea 100%); }
    main .localisation a {
      color: #353535; }
    main .localisation i {
      padding: 0 0.5em 0 0; }
  main .presentation {
    grid-template-columns: repeat(1, 1fr);
    padding: 2em 0 3em;
    background: #f6f6f6;
    text-align: center; }
    main .presentation p {
      padding: 1em 2em 2em;
      color: #7d7d7d; }
  main .commentCaMarche {
    grid-template-columns: repeat(1, 1fr);
    padding: 3em 1em; }
    main .commentCaMarche h2 {
      grid-row: 1 / auto;
      grid-column: 1 / 2;
      justify-self: start; }
    main .commentCaMarche ol {
      grid-row: 2 / auto;
      grid-column: 1 / 4;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 2em;
      margin: 1em 1em 0;
      justify-self: normal;
      counter-reset: section; }
    main .commentCaMarche li::before {
      counter-increment: section;
      content: counter(section);
      position: relative;
      left: -1.9em;
      padding: 0.3em 0.6em;
      border-radius: 70%;
      background-color: #9356DC;
      color: #ffffff;
      top: 35px; }
    main .commentCaMarche .list-item {
      display: block;
      cursor: pointer; }
      main .commentCaMarche .list-item:hover {
        background-color: #f1eafb; }
        main .commentCaMarche .list-item:hover .fas {
          color: #9356DC; }
      main .commentCaMarche .list-item .fas {
        margin: 15px;
        color: #7d7d7d; }
  main .lesRestaurants {
    grid-template-columns: repeat(1, 1fr);
    padding: 3em 1em;
    background: #f6f6f6; }
    main .lesRestaurants h2 {
      grid-row: 1 / auto;
      grid-column: 1 / 2;
      justify-self: start; }
    main .lesRestaurants ul {
      grid-row: 2 / auto;
      grid-column: 1 / 5;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 1em;
      justify-self: normal;
      margin: 1em 0; }
      @media (min-width: 1270px) {
        main .lesRestaurants ul {
          grid-template-columns: repeat(4, 1fr); } }
      @media (min-width: 960px) {
        main .lesRestaurants ul {
          grid-template-columns: repeat(2, 1fr); } }
      main .lesRestaurants ul li {
        display: inline-block;
        width: 100%; }
        main .lesRestaurants ul li a {
          display: block;
          position: relative;
          padding: 0 0 0.7rem 0;
          color: #000000;
          border-radius: 1.5em; }
          main .lesRestaurants ul li a .sticker {
            position: absolute;
            right: 1em;
            top: 1em;
            padding: 0.4em 0.6em;
            color: #1b6150;
            background: #99E2D0;
            border-radius: 0.2em; }
          main .lesRestaurants ul li a img {
            padding: 0 0 0.5rem 0;
            width: 100%;
            height: 16rem;
            object-fit: cover;
            border-radius: 1.5em 1.5em 0 0; }
          main .lesRestaurants ul li a h3,
          main .lesRestaurants ul li a p {
            padding: 0 1rem 0.5rem; }
          main .lesRestaurants ul li a .btn__like {
            position: absolute;
            bottom: 2.5rem;
            right: 1.5rem;
            font-size: 1.7em;
            cursor: pointer; }
  main .menuDuResto__cover {
    width: 100%;
    max-height: 35.5em;
    object-fit: cover; }
  main .menuDuResto {
    grid-template-columns: repeat(1, 1fr); }
    main .menuDuResto .menuDuResto__carte {
      background-color: #f6f6f6;
      z-index: 1;
      margin-top: -4rem; }
      main .menuDuResto .menuDuResto__carte h2 {
        font-family: 'Shrikhand', cursive;
        font-size: 28px;
        padding: 22px 0 20px 15px;
        margin: 0; }
        main .menuDuResto .menuDuResto__carte h2 button {
          position: absolute;
          right: 1.5rem;
          font-size: 2rem;
          cursor: pointer;
          border: transparent;
          background: transparent; }
      main .menuDuResto .menuDuResto__carte .titreMenu {
        justify-self: start;
        text-transform: uppercase;
        line-height: 2;
        margin: 0;
        font-weight: 100; }
        main .menuDuResto .menuDuResto__carte .titreMenu::after {
          border-bottom: 3px #99E2D0 solid;
          content: '';
          display: block;
          width: 3rem; }
      main .menuDuResto .menuDuResto__carte .list-menu {
        display: grid;
        list-style: none;
        grid-row: 2 / auto;
        grid-column: 1 / 5;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1em;
        justify-self: normal;
        padding: 0;
        margin: 16px 10px 0; }
        main .menuDuResto .menuDuResto__carte .list-menu .list-item {
          grid-template-columns: repeat(1, 1fr);
          display: grid;
          position: relative;
          padding: 11px;
          cursor: pointer;
          overflow: hidden;
          font-size: 1.05em; }
          main .menuDuResto .menuDuResto__carte .list-menu .list-item h4 {
            margin: 0;
            font-size: 17px;
            margin-bottom: 4px; }
          main .menuDuResto .menuDuResto__carte .list-menu .list-item p {
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 87%;
            overflow: hidden;
            transition: all 0.5s;
            margin: 0;
            font-size: 14px;
            font-weight: 100; }
          main .menuDuResto .menuDuResto__carte .list-menu .list-item strong {
            display: block;
            position: absolute;
            right: 1rem;
            bottom: 0.6rem;
            transition: all 0.5s;
            font-size: 14px; }
          main .menuDuResto .menuDuResto__carte .list-menu .list-item span {
            position: absolute;
            top: 0;
            right: -3.5rem;
            width: 3.5rem;
            height: 100%;
            font-size: 22px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #ffffff;
            background: #99E2D0;
            transition: all 0.5s; }
          main .menuDuResto .menuDuResto__carte .list-menu .list-item .fa-check-circle {
            transform: rotate(-240deg);
            transition: all 0.5s; }
        main .menuDuResto .menuDuResto__carte .list-menu .list-item {
          animation: smoothAnim 1000ms forwards;
          opacity: 0; }
          main .menuDuResto .menuDuResto__carte .list-menu .list-item--1 {
            animation-delay: 100ms; }
          main .menuDuResto .menuDuResto__carte .list-menu .list-item--2 {
            animation-delay: 200ms; }
          main .menuDuResto .menuDuResto__carte .list-menu .list-item--3 {
            animation-delay: 300ms; }
          main .menuDuResto .menuDuResto__carte .list-menu .list-item--4 {
            animation-delay: 400ms; }
          main .menuDuResto .menuDuResto__carte .list-menu .list-item--5 {
            animation-delay: 500ms; }
          main .menuDuResto .menuDuResto__carte .list-menu .list-item--6 {
            animation-delay: 600ms; }
          main .menuDuResto .menuDuResto__carte .list-menu .list-item--7 {
            animation-delay: 700ms; }
          main .menuDuResto .menuDuResto__carte .list-menu .list-item--8 {
            animation-delay: 800ms; }
          main .menuDuResto .menuDuResto__carte .list-menu .list-item--9 {
            animation-delay: 900ms; }
@keyframes smoothAnim {
  0% {
    transform: translateY(2em); }
  100% {
    transform: translateY(0);
    opacity: 1; } }
        main .menuDuResto .menuDuResto__carte .list-menu .list-item:hover p {
          width: 65%; }
        main .menuDuResto .menuDuResto__carte .list-menu .list-item:hover strong {
          right: 5rem; }
        main .menuDuResto .menuDuResto__carte .list-menu .list-item:hover span {
          right: 0; }
          main .menuDuResto .menuDuResto__carte .list-menu .list-item:hover span i {
            transform: rotate(0deg); }
  main .commander {
    background: #ffffff;
    padding: 3rem 0 5rem 0; }
    main .commander a {
      text-decoration: none;
      padding: 1em 3em; }

/*# sourceMappingURL=index.css.map */
